# Core LangGraph and LangChain dependencies
langgraph==0.3.19
langchain==0.3.21
langgraph-sdk==0.1.58
langgraph-checkpoint-sqlite==2.0.6
langsmith==0.3.18
langchain-community==0.3.20
langchain-core==0.3.48
langchain-openai==0.3.9
langchain_anthropic==0.3.1

# Development and utility packages
notebook==7.1.1
tavily-python==0.5.1
wikipedia==1.4.0
trustcall==0.0.38
langgraph-cli[inmem]==0.1.79
pydantic==2.7.4
python-dotenv==1.0.1

# Optional dependencies for visualization and data handling
matplotlib==3.8.3
pandas==2.2.1
pygraphviz==1.12
